.Footer
  background-color: $dark
  padding: 3em 0
  a
    background-color: $link-color
    display: block
    transition: background .3s
    &:hover
      background-color: $orange
.twitter
  background: url('/img/icons/icons.png') 0 0 no-repeat
  height: 50px
  width: 48px  
.google
  background: url(/img/icons/icons.png) -128px -4px no-repeat
  height: 50px
  width: 66px
.github
  background: url(/img/icons/icons.png) -273px -4px no-repeat
  height: 50px
  width: 49px
.linkedin
  background: url(/img/icons/icons.png) -402px -4px no-repeat
  height: 48px
  width: 44px
