.Home
  background-image: url('/img/home-bg.jpg')
  background-position: 0 0
  background-repeat: no-repeat
  background-size: cover
  &__content
    background-color: rgba($lightest, .75)
    +above($medium)
      background-color: rgba($lightest, .65)
    height: 100%
    padding: 0 0 4em 0
  h1
    font-family: $serif
.Brand
  display: block
  margin: 0 auto
  width: 100px
.underscore
  background-color: rgba($brown, .3)
  height: 1px
  margin: 0 auto 30px
  width: 5%

.Contact
  background-color: $light
  height: 18em
