.Work
  &__content
    background-color: $light
  
  &__main
    padding: 8em 0
  
  &__title
    &:after
      background-color: $brown
      border-radius: 5px
      content: ''
      display: block
      height: 5px
      margin: .5em auto
      width: 15%
  
  &__screens
    background-color: $dark

  &__role
    background: url('/img/role-background.svg') center 0 no-repeat
    background-size: cover
    color: $light
    height: 420px
    padding: 3em 0
    position: relative
    z-index: 2
    ul
      list-style: none

  &__UX
    height: 600px
    position: relative
    &-img
      opacity: .25
      position: absolute
      right: 0
      top: -50px
