.Contact.Grid.center.middle
  .Cell.six.text-center
    p Get in Touch with Me
    h3.uppercase
      a(href="mailto:&#100;&#114;&#105;&#110;&#107;&#104;&#111;&#114;&#099;&#104;&#097;&#116;&#097;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;").Button.Button__cta Say Hello!


.Footer.Grid.Grid__row.center
  .Cell.one
    a.twitter.icon(href="#")
  .Cell.one
    a.google.icon(href="#")
  .Cell.one
    a.github.icon(href="#")
  .Cell.one
    a.linkedin.icon(href="#")
