.Contact.Grid.center.middle
  .Cell.six.text-center
    h3.h5 Get in Touch with Me
    p.h6.uppercase
      a(href="mailto:&#100;&#114;&#105;&#110;&#107;&#104;&#111;&#114;&#099;&#104;&#097;&#116;&#097;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;").Button.Button--cta Say Hello!


.Footer.Grid.Grid__row.center
  .Cell.one
    a.twitter.icon(href="https://twitter.com/alex___rdz")
  .Cell.one
    a.google.icon(href="https://plus.google.com/u/0/+alexrodriguez_hds")
  .Cell.one
    a.github.icon(href="https://github.com/josedigital/")
  .Cell.one
    a.linkedin.icon(href="https://www.linkedin.com/in/alexrdz/")
