extends _layout

block vars
  - var bodyClass = 'Home'

block content
  .Home__content.Grid.center
    .Cell.six
      img(src="./img/alexrdz-skull.svg", alt="alexrdz skull logo").Brand
      h1.text-center.Main-title.animate.fadeInDown Alex Rodriguez
      .underscore.animate.growWidth.delay-4 &nbsp;
      h2.h3.text-center.animate.fadeInUp UI Designer &amp; Javascript Developer
      p I am a dedicated UI designer and JavaScript developer with a passion for smart design and beautiful code. 
      p My enterprise experience as a Sr. Application Developer with the City of Austin includes user-centric design and development. Personal work and passion projects include sites and applications for small businesses and niche audiences.
