//- Text Helpers
.text-left
  text-align: left
.text-center
  text-align: center
.text-right
  text-align: right

.italics
  font-style: italic
.uppercase
  text-transform: uppercase

.background-image
  bottom: 0
  left: 0
  opacity: .3
  position: fixed
  right: 0
  top: 0
