extends ../_layout

block vars
  - var bodyClass = 'Work Koala-app'
  - var header = true

block content
  .Work__content
    section.Grid.center.Work__main
      .Cell.five
        h2.Work__title.h1.text-center.uppercase Koala App
        p.Work__description Koala is a web app built to help web developers in their job-seeking process. I worked with a team of 3 talented individuals on this full-stack MERN application (MongoDB, ExpressJS, ReactJS, and NodeJS).
        p
          a(href="https://kv3.herokuapp.com/") View the App
          |  /  
          a(href="https://github.com/josedigital/koala-v3") View the Code
    section.Grid.Work__role.center
      .Cell.eight.text-center
        h2.h5 Role
        h3.Work__role-title.h4 Technical Lead &amp; UI Developer
        ul
          li Initial set-up of Express Server and configuration
          li Webpack configuration
          li Configuration and deployment to Heroku
          li Github repository manager
          li UI/UX design and development (PostCSS &amp; JSX)
    section.Work__UX
      .Grid.center.stretch
        //- img(src="/img/koala-bg.jpg", alt="").Work__UX-img
        .Cell.six
          .UX__content
            h2.h3.text-center User Flows &amp; Wireframes
            p I led the team in a few exercises to determine user flows. We identified key areas where on which to focus and where pain points might arise. Because of the time limit (3 week project) we were couldn't do extensive user research. We conducted a couple of interviews to inform Koala's workflow process. I wireframed the app, conducted quick user testing, and proceeded to design and development.
    section.Work__screens
      .Grid.center
        .Cell.eight
          h3.text-center Staying Organized is Key
          p Koala provides a way to not only find jobs but a way to manage the details throughout your process. We added a job search feature to take the hassle out of jumping around different sites to search for jobs. Users can save and remove an unlimited number of jobs, manage their process and notes, and stay organized during the crucial initial steps in the job-seeking process.
      .Grid.center
        .Cell.eight
          img(src="/img/work/koala-imac.png", alt="Koala App on iMac")
      .Grid.middle
        .Cell.six
          h3 Keeping Notes
          p Notes are designed to help users keep track of the jobs in which they are most interested. From reminders of what day a user applied for a job, who the user spoke to on your phone, what they need to study before the interview, Koala helps keep things organized on a per-job basis.
        .Cell.six
          img(src="/img/work/koala-macbook.png", alt="Koala App on laptop")
