extends _layout

block vars
  - var bodyClass = 'Home'

block content
  .Work__content.Grid.center
    .Cell.six
      h1.text-center.uppercase Panda App
      .underscore.animate.growWidth.delay-4 &nbsp;
      h2.text-center.animate.fadeInUp UI Designer &amp; Javascript Developer
      p I am a dedicated UI designer and JavaScript developer with a passion for smart design and beautiful code. 
      p My enterprise experience includes user-centric design and development. Personal work and passion projects include sites and applications for small businesses and niche audiences.
